---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=0119be679166abbe60f0fec304b43983&lat=39.736406&lon=-104.89527&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7364,"lon":-104.8953,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659829893,"sunrise":1659787397,"sunset":1659838059,"temp":77.72,"feels_like":77.86,"pressure":1015,"humidity":57,"dew_point":61.29,"uvi":0.63,"clouds":75,"visibility":10000,"wind_speed":12.66,"wind_deg":120,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1659829920,"precipitation":0},{"dt":1659829980,"precipitation":0},{"dt":1659830040,"precipitation":0},{"dt":1659830100,"precipitation":0},{"dt":1659830160,"precipitation":0},{"dt":1659830220,"precipitation":0},{"dt":1659830280,"precipitation":0},{"dt":1659830340,"precipitation":0},{"dt":1659830400,"precipitation":0},{"dt":1659830460,"precipitation":0},{"dt":1659830520,"precipitation":0},{"dt":1659830580,"precipitation":0},{"dt":1659830640,"precipitation":0},{"dt":1659830700,"precipitation":0},{"dt":1659830760,"precipitati[...]
