---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=0119be679166abbe60f0fec304b43983&lat=39.736406&lon=-104.89527&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7364,"lon":-104.8953,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659978661,"sunrise":1659960310,"sunset":1660010719,"temp":76.44,"feels_like":76.32,"pressure":1017,"humidity":54,"dew_point":58.59,"uvi":7.6,"clouds":40,"visibility":10000,"wind_speed":5.75,"wind_deg":30,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1659978720,"precipitation":0},{"dt":1659978780,"precipitation":0},{"dt":1659978840,"precipitation":0},{"dt":1659978900,"precipitation":0},{"dt":1659978960,"precipitation":0},{"dt":1659979020,"precipitation":0},{"dt":1659979080,"precipitation":0},{"dt":1659979140,"precipitation":0},{"dt":1659979200,"precipitation":0},{"dt":1659979260,"precipitation":0},{"dt":1659979320,"precipitation":0},{"dt":1659979380,"precipitation":0},{"dt":1659979440,"precipitation":0},{"dt":1659979500,"precipitation":0},{"dt":1659979560,"precipitati[...]
