---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=0119be679166abbe60f0fec304b43983&lat=39.736406&lon=-104.89527&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7364,"lon":-104.8953,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659827370,"sunrise":1659787397,"sunset":1659838059,"temp":79.65,"feels_like":79.65,"pressure":1015,"humidity":51,"dew_point":59.94,"uvi":1.58,"clouds":75,"visibility":10000,"wind_speed":12.66,"wind_deg":100,"weather":[{"id":211,"main":"Thunderstorm","description":"thunderstorm","icon":"11d"}]},"minutely":[{"dt":1659827400,"precipitation":0},{"dt":1659827460,"precipitation":0},{"dt":1659827520,"precipitation":0},{"dt":1659827580,"precipitation":0},{"dt":1659827640,"precipitation":0},{"dt":1659827700,"precipitation":0},{"dt":1659827760,"precipitation":0},{"dt":1659827820,"precipitation":0},{"dt":1659827880,"precipitation":0},{"dt":1659827940,"precipitation":0},{"dt":1659828000,"precipitation":0},{"dt":1659828060,"precipitation":0},{"dt":1659828120,"precipitation":0},{"dt":1659828180,"precipitation":0},{"dt":1659828240,"precipitati[...]
