---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=COAPp7ipNp6Rc7hznFrCSaYscSUfOkgi&location=Denver%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 06 Aug 2022 23:13:13 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=COAPp7ipNp6Rc7hznFrCSaYscSUfOkgi&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2075017766"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=COAPp7ipNp6Rc7hznFrCSaYscSUfOkgi&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1807245573"}]}]}'
  recorded_at: Sat, 06 Aug 2022 23:13:13 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=0119be679166abbe60f0fec304b43983&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659827593,"sunrise":1659787418,"sunset":1659838080,"temp":80.22,"feels_like":81,"pressure":1010,"humidity":50,"dew_point":59.92,"uvi":1.58,"clouds":59,"visibility":10000,"wind_speed":5.01,"wind_deg":79,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1659827640,"precipitation":0},{"dt":1659827700,"precipitation":0},{"dt":1659827760,"precipitation":0},{"dt":1659827820,"precipitation":0},{"dt":1659827880,"precipitation":0},{"dt":1659827940,"precipitation":0},{"dt":1659828000,"precipitation":0},{"dt":1659828060,"precipitation":0},{"dt":1659828120,"precipitation":0},{"dt":1659828180,"precipitation":0},{"dt":1659828240,"precipitation":0},{"dt":1659828300,"precipitation":0},{"dt":1659828360,"precipitation":0},{"dt":1659828420,"precipitation":0},{"dt":1659828480,"precipitati[...]
